.p-l-0 {
  padding-left: 0;
}

.p-r-0 {
  padding-right: 0;
}

.bg-status {
  background-color: #efe;
  color: #040;
}

.bg-errors {
  background-color: #fee;
  color: #400;
}

.box-cont {
  border: 1px solid #f0f0f0;
  padding: 5px 10px;
  background-color: #fefefe;
  max-height: 320px;
  overflow: auto;
}

.box-cont.ann {
  max-width: 320px;
  max-height: 240px;
}

.checkie {
  display: block;
  font-weight: 100;
}

.checkie input {
  vertical-align: top;
}
